.details {
  display: flex;
  flex-flow: column;

  background-color: #9c7eee;
  border-radius: 8px;
  cursor: pointer;

  padding: 1rem;
  width: 600px;

  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

.details:hover {
  background-color: #9c7eeed3;
  cursor: pointer;
}

.author {
  font-size: 0.8rem;
  font-weight: bold;
  color: #543280;
  margin: 0;
  text-transform: uppercase;
}

.message {
  white-space: pre-wrap;
  font-size: 1.25rem;
  margin: 10px 0 0 0;
  color: #593884;
  font-style: italic;
}

.details a {
  text-decoration: none;
}

.clicks {
  font-size: 1rem;
  margin: 0.25rem 0 0 0;
  color: #593884;
  font-style: bold;

  align-self: flex-end;
  margin-top: auto;
}